.svg{
    width: 100%;
    height: 600px;
}

.card{
    box-shadow: rgba(62, 148, 228, 0.15) 0px 2px 4px;
    color: rgb(107, 107, 107) !important;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
    min-height: 200px;
    font-family: Avenir-Book, "Helvetica Neue", Helvetica, Arial, sans-serif;
}